@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.input-field {
  border: 2px solid #f4f4f5;
  border-radius: 10px;
  padding: 1em;
}
.local-btn {
  border: 2px solid #f4f4f5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.15s linear;
  font-weight: 400;
}
.local-btn:hover {
  background-color: black;
  color: white;
}
.local-btn-primary {
  background-color: black;
  color: white;
}
.local-btn-primary:hover {
  background-color: white;
  color: black;
}

.local-btn-bgwhite {
  background-color: white;
  border-width: 2px;
  border-color: #f6f6f6;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.local-w-100 {
  width: 100%;
}
.local-mb-3 {
  margin-bottom: 3px;
}

.local-m-3 {
  margin: 3px;
}

.local-d-flex {
  display: flex;
}
